FinalProject_MindTeckStore/WebContent/wsdl/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jni.tomcat.apache.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jni.tomcat.apache.org" xmlns:intf="http://jni.tomcat.apache.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://jni.tomcat.apache.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="groupname">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:long"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="groupnameResponse">
    <complexType>
     <sequence>
      <element name="groupnameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Error">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="error" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="fault" type="impl:Error"/>
   <element name="uid">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="uidResponse">
    <complexType>
     <sequence>
      <element name="uidReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="username">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:long"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="usernameResponse">
    <complexType>
     <sequence>
      <element name="usernameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="gid">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="gidResponse">
    <complexType>
     <sequence>
      <element name="gidReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="homepath">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="homepathResponse">
    <complexType>
     <sequence>
      <element name="homepathReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="gidCurrent">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="gidCurrentResponse">
    <complexType>
     <sequence>
      <element name="gidCurrentReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="uidcompare">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:long"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="uidcompareResponse">
    <complexType>
     <sequence>
      <element name="uidcompareReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="uidCurrent">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="uidCurrentResponse">
    <complexType>
     <sequence>
      <element name="uidCurrentReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="usergid">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="usergidResponse">
    <complexType>
     <sequence>
      <element name="usergidReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="gidcompare">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:long"/>
      <element name="in1" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="gidcompareResponse">
    <complexType>
     <sequence>
      <element name="gidcompareReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="gidCurrentRequest">

      <wsdl:part element="impl:gidCurrent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="gidCurrentResponse">

      <wsdl:part element="impl:gidCurrentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="homepathResponse">

      <wsdl:part element="impl:homepathResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="gidcompareResponse">

      <wsdl:part element="impl:gidcompareResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="Error">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usernameRequest">

      <wsdl:part element="impl:username" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uidCurrentResponse">

      <wsdl:part element="impl:uidCurrentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uidcompareRequest">

      <wsdl:part element="impl:uidcompare" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uidRequest">

      <wsdl:part element="impl:uid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uidResponse">

      <wsdl:part element="impl:uidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="groupnameRequest">

      <wsdl:part element="impl:groupname" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usergidResponse">

      <wsdl:part element="impl:usergidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="gidcompareRequest">

      <wsdl:part element="impl:gidcompare" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="groupnameResponse">

      <wsdl:part element="impl:groupnameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="homepathRequest">

      <wsdl:part element="impl:homepath" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uidCurrentRequest">

      <wsdl:part element="impl:uidCurrent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usergidRequest">

      <wsdl:part element="impl:usergid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="gidRequest">

      <wsdl:part element="impl:gid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usernameResponse">

      <wsdl:part element="impl:usernameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="uidcompareResponse">

      <wsdl:part element="impl:uidcompareResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="gidResponse">

      <wsdl:part element="impl:gidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="User">

      <wsdl:operation name="groupname">

         <wsdl:input message="impl:groupnameRequest" name="groupnameRequest">

       </wsdl:input>

         <wsdl:output message="impl:groupnameResponse" name="groupnameResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="uid">

         <wsdl:input message="impl:uidRequest" name="uidRequest">

       </wsdl:input>

         <wsdl:output message="impl:uidResponse" name="uidResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="username">

         <wsdl:input message="impl:usernameRequest" name="usernameRequest">

       </wsdl:input>

         <wsdl:output message="impl:usernameResponse" name="usernameResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="gid">

         <wsdl:input message="impl:gidRequest" name="gidRequest">

       </wsdl:input>

         <wsdl:output message="impl:gidResponse" name="gidResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="homepath">

         <wsdl:input message="impl:homepathRequest" name="homepathRequest">

       </wsdl:input>

         <wsdl:output message="impl:homepathResponse" name="homepathResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="gidCurrent">

         <wsdl:input message="impl:gidCurrentRequest" name="gidCurrentRequest">

       </wsdl:input>

         <wsdl:output message="impl:gidCurrentResponse" name="gidCurrentResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="uidcompare">

         <wsdl:input message="impl:uidcompareRequest" name="uidcompareRequest">

       </wsdl:input>

         <wsdl:output message="impl:uidcompareResponse" name="uidcompareResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="uidCurrent">

         <wsdl:input message="impl:uidCurrentRequest" name="uidCurrentRequest">

       </wsdl:input>

         <wsdl:output message="impl:uidCurrentResponse" name="uidCurrentResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="usergid">

         <wsdl:input message="impl:usergidRequest" name="usergidRequest">

       </wsdl:input>

         <wsdl:output message="impl:usergidResponse" name="usergidResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Error" name="Error">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="gidcompare">

         <wsdl:input message="impl:gidcompareRequest" name="gidcompareRequest">

       </wsdl:input>

         <wsdl:output message="impl:gidcompareResponse" name="gidcompareResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserSoapBinding" type="impl:User">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="groupname">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="groupnameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="groupnameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="uid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="username">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="usernameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="usernameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="gid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="gidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="gidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="homepath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="homepathRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="homepathResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="gidCurrent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="gidCurrentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="gidCurrentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="uidcompare">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uidcompareRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uidcompareResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="uidCurrent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uidCurrentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uidCurrentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="usergid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="usergidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="usergidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Error">

            <wsdlsoap:fault name="Error" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="gidcompare">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="gidcompareRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="gidcompareResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserService">

      <wsdl:port binding="impl:UserSoapBinding" name="User">

         <wsdlsoap:address location="http://localhost:8080/FinalProject_MindTeckStore/services/User"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
